{% extends 'accounts/main.html' %}
{% load static %}
{% block contents %}

<br>
<div class="row">
    <div class="col-md-8">
        <div class="card card-body">
            <form action="" method="POST">
                {% csrf_token %}
                {% for form in formset %}
                {{formset.management_form}}
                    {{form}}
                    <hr>
                {% endfor %}

                <input type="submit" name="Submit">
            </form>
        </div>
    </div>
</div>

{% endblock %}